html {
    scroll-behavior: smooth;
}
.skin-green .main-sidebar {
    background-color: #899499;
}
.skin-green .main-header .navbar {
    background-color: #144225
}
.skin-green .main-header .logo {
    background-color: #184f2c;
}
#display_selected_date {
    font-weight: 300;
    color: #36454F;
}
.well {
    padding: 10px;
}
#dt_container {
    padding: 20px;
    background-color: white;
    margin: 0 20px;
}
.panel-title, .box-title {
    font-size: 14pt;
    font-weight: 500;
    color: #36454F;
    margin-bottom: 10px;
}
.box-title{
    text-align: center;
}
#date_range_header {
    font-weight: 400;
}
#date_range {
    margin-bottom: 10px;
}
#input_controls div{
    margin-bottom: 5px;
}
#more-info-list {
    list-style: none;
}
#more-info-list li {
    margin-bottom: 5px;
}
.obs-panel {
    background-color: #303030;
}
.obs-title {
    color: #dedede;
    font-weight: 600;
}