html {
    scroll-behavior: smooth;
}
.skin-green .main-sidebar {
    background-color: #899499;
}
.skin-green .main-header .navbar {
    background-color: #144225
}
.skin-green .main-header .logo {
    background-color: #184f2c;
}
#display_selected_date {
    font-weight: 300;
    color: #36454F;
}
.well {
    padding: 10px;
}
#dt_container {
    padding: 20px;
    background-color: white;
    margin: 0 20px;
}
.panel-title {
    font-size: 16pt;
    font-weight: 500;
    color: #36454F;
    margin-bottom: 5px;
}
#date_range_header {
    font-weight: 400;
}
#date_range {
    margin-bottom: 10px;
}
.info-box-text {
    font-weight: 500;
}
.info-box-number {
    font-size: 21px;
}
#input_controls div{
    margin-bottom: 5px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
    color: #000000;
    /* overflow: hidden; */
    white-space: normal !important;
}
#more-info-list {
    list-style: none;
}
#more-info-list li {
    margin-bottom: 5px;
}